<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Polos & T-Shirts | DIOR</title>
    <script src="dev_vue.js"></script>
  </head>
  <body>
    <div class="page-container" id="app">
      <h1>Dior</h1>
      <h2>{{ pageName }}</h2>
      <h3>{{ pageDescription }}</h3>
      <div class="filters-container">
        <span
          >Couleur:
          <select v-model="colorFilter">
            <option value="all">toutes</option>
            <option value="lightGrey">gris clair</option>
            <option value="darkGrey">gris foncé</option>
          </select>
        </span>
      </div>
      <div class="list-container">
        <product-item
          v-for="product in filteredProducts"
          :is-new="product.isNew"
          :title="product.title"
          :image-source="product.imageSource"
          :image-description="product.imageDescription"
          :description="product.description"
          :price="product.price"
          :demo="product.demo"
        ></product-item>
      </div>
    </div>
  </body>
  <script src="./composants/product-item/product-item.js"></script>
  <link href="./composants/product-item/product-item.css" rel="stylesheet" />
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        pageName: 'T-SHIRTS & POLOS',
        pageDescription:
          'Confectionné avec les meilleurs cotons, le Jersey Dior Men assure une silhouette contemporaine et décontractée.',
        products: [
          {
            isNew: true,
            title: 'Polo DIOR AND JUDY BLAME',
            imageSource: './polo_dior_and_judy_blame.jpeg',
            imageDescription: 'Piqué de coton blanc',
            description: 'Jersay de coton gris',
            price: '600,00 €',
            color: 'lightGrey',
          },
          {
            demo: true,
            imageSource: './demo_tshirt_oversize_dior_and_shawn.webp',
            imageDescription: 'DIOR AND SHAWN Oversized T-Shirt',
            color: 'darkGrey',
          },
          {
            title: 'T-shirt oversize DIOR AND SHAWN',
            imageSource: './tshirt_oversize_dior_and_shawn.jpeg',
            imageDescription: 'T-shirt oversize DIOR AND SHAWN Vue de face',
            description: 'Jersay de coton gris',
            price: '600,00 €',
            color: 'darkGrey',
          },
        ],
        colorFilter: 'all',
      },
      computed: {
        filteredProducts: function () {
          return this.colorFilter === 'all'
            ? this.products
            : this.products.filter(({ color }) => color === this.colorFilter);
        },
      },
    });
  </script>
  <style>
    .page-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

    .filters-container {
      width: calc(100% - 2 * 20px);
      margin: 10px 20px 0;
      padding: 10px;
      border: 1px solid #e5e5e5;
      border-width: 1px 0;
    }

    .list-container {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  </style>
</html>
